.level__title {
    color: #2c2647;
    font-family: 'Gilroy-Bold';
    font-size: 1rem;
    margin-bottom: 1rem;
}

.levels__wrapper {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.page__title {
    font-size: 2rem;
    font-family: 'Gilroy-Heavy';
    color: #2c2647;
}