.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
