.reg-form {
    max-width: 500px;
}

.reg__title {
    margin-bottom: 20px;
    color: #2c2647;
    font-size: 32px;
    font-family: 'Gilroy-Heavy';
}

.reg__subtitle {
    margin-bottom: 20px;
    font-size: 20px;
    font-family: "Gilroy-Regular"
}

.reg__input {
    margin-bottom: 25px;
}

.reg__btn {
    margin-bottom: 25px;
    padding: 10px 0;
    width: 100%;
    border-radius: 5px;
    background-color: #2c2647;
}

.reg__btn:hover {
    background-color: #ffffff;
    color: #2c2647;
    transition: 0.5s;
}

.login-info{
    font-size: 15px;
}

.login-link {
    text-decoration: underline;
}