.words-section-container {
    display: flex;
    justify-content: space-between;
}

.words-container {
    width: 65%;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px 5px;
}