.games-section-wrapper h2{
    display: block;
    color: #2c2647;
    font-size: 2rem;
    font-family: 'Gilroy-Bold';
}

.games-section-wrapper h3{
    margin-top: 0.5rem;
    margin-bottom: 4rem;
    font-size: 1rem;
    font-family: 'Gilroy-Bold';
    color: #2c2647;
}

.images-wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
}